/* 기본 스타일 초기화 */




/* 테이블*/
table {
    width: 80%;
    border-collapse: collapse;
    margin: 20px auto;
}
th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}
th {
    background-color: #f2f2f2;
}

/*---------------------dashboard----------------------*/
.dashcontainer {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f6f9;
}
.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
}
.dashboard-header {
    text-align: center;
    margin-bottom: 30px;
}
.tile {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.tile h2 {
    margin: 0;
    font-size: 1.5em;
}
.tile p {
    color: #888;
    margin: 5px 0 0;
}
.tiles {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    margin-bottom: 30px;
}
.chart-container {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    margin-bottom: 30px;
}
.chart {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex: 1;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
th {
    background-color: #f4f6f9;
}