<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>아이템 관리 시스템</title>
    <link rel="stylesheet" href="/css/items_home.css">
</head>
<body>
    <header class="header">
        <!-- 홈으로 돌아가기 버튼 왼쪽 상단 -->
        <a href="/" class="button-link home-button">홈으로 돌아가기</a>
        <h1>아이템 관리 시스템</h1>
        <!-- 뒤로 가기 버튼 오른쪽 상단 -->
        <a href="/" class="button-link back-button">뒤로 가기</a>
    </header>
    <nav class="nav-buttons">
        <a href="/upload" class="button-link">엑셀 파일 업로드</a>
        <a href="/items/list" class="button-link">아이템 목록 보기</a>
    </nav>
</body>
</html>
